body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  height: 100vh;
  padding: 0;
  
}

.app{
  height: 100vh;
  width: 100%;
}

.Rating {
  font-family: sans-serif;
  text-align: center;
}


.map{
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0
}

.marker{
  background-image: url('./img/marker.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 11px;
}

.marker-delivery{
  background-image: url('./img/marker.svg');
  width: 40px;
  height: 40px;
  background-size: cover;

}

.second-time{
  width: 500px;
  height: 200px;
  background: rgb(202, 248, 159);
  position: absolute;
  border-radius: 15px;
  top: 0;
    right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  text-align-last: center;
}

.second{
  color: rgb(90, 201, 0);
  font-weight: bold
}

.poi-box {
  left: 0;
  top: 0;
  z-index: 0;
  position: absolute;
}

.nav-bar {
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  position: absolute;
}

.distance-box {
  font-weight: 'bold';
   font-size: '2em'
}

li {
  margin-top: 50px;
}

.cabecalho{
    padding: 30px 45px;
}
